{% extends "_base.html" %}

{% block content %}
<div class="inner-container info">
    <h1 id="tos">Terms of Service</h1>
    <p>Last updated: July 15, 2020</p>
    <p>These Terms of Service ("Terms") govern your access to and use of our Site and Services. By accessing or using our Site, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use the Site.</p>
    <p>In addition to these Terms of Service, the <a href="/info/uploads">Upload Rules</a> and <a href="/info/privacy">Privacy Policy</a> also govern your use of the Site.</p>


    <h2 id="access">Access To The Site</h1>

    <p>Persons under the age of 18 are not allowed to create an account or otherwise use our Services. By using our Services, you represent that you are over the age required by the laws of your country to create an account.</p>
    
    <p>We may suspend or terminate your account or your ability to access or use the Site at any time for any or no reason, including for a violation of these Terms or the <a href="/info/uploads">Upload Rules</a>.</p>

    <h2>Things You Cannot Do</h2>

    <p>When accessing or using the Site, you agree to follow these Terms of
    Service and the <a href="/info/uploads">Upload Rules</a>.

    <p>When accessing or using the Site, you will not:</p>

    <ul class="list-bulleted">
      <li>
        Create multiple accounts to bypass or circumvent bans, account
        restrictions, site rules, or to send spam.
      </li>

      <li>
        Bypass or circumvent any limitations or restrictions placed on your
        account, including upload limits, comment limits, rate limits, post
        access restrictions, and any other limits.
      </li>

      <li>
        Attempt to gain unauthorized access to another user's account, the Site,
        or to any computer systems or networks used by the Site.
      </li>

      <li>
        Upload malware, computer viruses, or other malicious content to the
        Site, or distribute or link to any such content through the Site.
      </li>

      <li>
        Prevent or disrupt other users from using the Site, or damage,
        overburden, or impair the operation of the Site in any manner.
      </li>

      <li>
        Create, use, or distribute bots or scripts that cause harm to the Site,
        or that allow users to bypass restrictions on the Site.
      </li>
    </ul>


    <h2 id="content">User-Generated Content</h2>

    <p>All content submitted to the Site, including text, links, translations, images, videos, animations, songs, games, and any other materials (collectively referred to as "Content") is the sole responsibility of the person who submitted the Content. We take no responsibility for Content submitted to the Site by users.</p>

    <p>Any Content you submit to the Site must abide by these Terms of Service and the <a href="/info/uploads">Upload Rules</a>. Although we have no obligation to monitor, review, or moderate any Content submitted to the Site, we may, in our sole discretion, delete or remove access to Content at any time and for any reason, including for a violation of these Terms, a violation of our Upload Rules, or if you otherwise create liability for us.</p>
    
    <p>You understand that by using the Site, you may be exposed to Content that might be considered offensive, harmful, obscene, inaccurate, mislabeled, mistagged, unlawful in your jurisdiction, or otherwise inappropriate. The use of any Content posted on the Site or obtained by you through the Site is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted on the Site or endorse any opinions expressed via the Site.</p>


    <h2 id="copyright">Copyright Infringment</h2>

    <p class="bold">If you believe any Content on the Site infringes upon your copyright, you may send an email to the <a href="mailto://{{get_contact()}}">webmaster</a> with the following pieces of information:</p>
    <ul>
        <li>A list of links to each post you believe infringes on your copyright.</li>
        <li>Your contact information.</li>
        <li>Proof of your identity.</li>
        <li>A statement affirming that you are the copyright holder for these works, under penalty of perjury.</li>
    </ul>

    <p class="bold">Acceptable proof of identity includes any of the following:</p>
    <ul>
        <li>An email from an email address listed in one of your social media profiles.</li>
        <li>A copy or screenshot of the original .psd file or other source file of one of your works.</li>
    </ul>
    
    <p>Please be aware that information about you that does not infringe on your copyright will not be removed from the Site. This includes artist tags, artist profiles, wiki pages, comments, forum posts, links to your social media profiles, and links to your works on other sites.</p>
    
    <p>If you knowingly misrepresent that any activity or material on our Site is infringing, you may be liable for costs and damages.</p>

    <p>Copyright claims may be listed publicly with personal information removed for transparency reasons.</p>


    <h2 id="misc">Miscellaneous</h2>

    <p>"{{get_branding()}}", "we", or "us" refers to {{get_branding()}}, its successors, and its assigns. "You" refers to any person who has consented to these terms or has become contractually bound to them, whether such person is identified or not at the time.</p>
    
    <p>These Terms constitute the entire agreement between you and us regarding your access to and use of the Services. Our failure to exercise or enforce any right or provision of these Terms will not operate as a waiver of such right or provision. If any provision of these Terms is, for any reason, held to be illegal, invalid or unenforceable, the rest of the Terms will remain in effect. You may not assign or transfer any of your rights or obligations under these Terms without our consent. We may freely assign these Terms.

    
    <h2 id="changes">Changes to These Terms</h2>
    
    <p>We may update these Terms from time to time. The updated Terms will be indicated by a new "Last updated" date at the top of this page. If we make material changes to these Terms, we may, at our discretion, notify you either by prominently posting a notice of such changes or by directly sending you a notification.</p>
    
    <p>Changes to these Terms will go into effect as soon as the updated Terms are accessible. By continuing to use our Services after changes to these Terms go into effect, you agree to be bound by the revised Terms.
    No Warranties</p>
    
    <p>THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. {{get_branding()}}, ITS LICENSORS, AND ITS THIRD PARTY SERVICE PROVIDERS DO NOT WARRANT THAT THE SERVICES ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR FREE. {{get_branding()}} DOES NOT CONTROL, ENDORSE, OR TAKE RESPONSIBILITY FOR ANY CONTENT AVAILABLE ON OR LINKED TO THE SERVICES OR THE ACTIONS OF ANY THIRD PARTY OR USER, INCLUDING MODERATORS. WHILE {{get_branding()}} ATTEMPTS TO MAKE YOUR ACCESS TO AND USE OF OUR SERVICES SAFE, WE DO NOT REPRESENT OR WARRANT THAT OUR SERVICES OR SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>


    <h2 id="liability">Limitation of Liability</h2>
    <p>IN NO EVENT AND UNDER NO THEORY OF LIABILITY, INCLUDING CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, WARRANTY, OR OTHERWISE, WILL THE {{get_branding()}} ENTITIES BE LIABLE TO YOU FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, OR LOST PROFITS ARISING FROM OR RELATING TO THESE TERMS OR THE SERVICES, INCLUDING THOSE ARISING FROM OR RELATING TO CONTENT MADE AVAILABLE ON THE SERVICES THAT IS ALLEGED TO BE DEFAMATORY, OFFENSIVE, OR ILLEGAL. ACCESS TO, AND USE OF, THE SERVICES IS AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR COMPUTER SYSTEM, OR LOSS OF DATA RESULTING THEREFROM.</p>

    <h4>See also</h4>
    <ul>
      <li><a href="/info/uploads">Upload Rules</a></li>
      <li><a href="/info/privacy">Privacy Policy</a></li>
    </ul>
  </div>
{% endblock %}